@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-bold';
    src: url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/Roboto-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaWeb-book';
    src: url('../fonts/FTN45__W.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStdBook';
    src: url('../fonts/FuturaStdBook.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'FuturaWeb-bold';
    src: url('../fonts/FTN85__W.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStdBold';
    src: url('../fonts/FuturaStdBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStdLight';
    src: url('../fonts/FuturaStdLight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaStdMedium';
    src: url('../fonts/FuturaStdMedium.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica';
    src: url('../fonts/helvetica-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
    font-size: 1em;
    font-family: "Roboto-regular";
}
/*text*/
.bold{
    font-weight: bold;
}
.text-blue, a.text-blue {
    color: #0066B3 !important;
}
.text-blue-dark, a.text-blue-dark {
    color: #005DA8 !important;
}
.text-orange, a.text-orange {
    color: #FF7200 !important;
}

.text-white, a.text-white {
    color: #fff !important;
}

.text-orange-dark, a.text-orange-dark {
    color: #C27300;
}
.text-gray-dark, a.text-gray-dark {
    color: #6F7C87;
}
.text-orange-bold {
    color: #F36800;
    font-weight: bold;
}
.center {
    text-align: center;
}
.title-light {
    font-size: 1.5em;
}
.title-strong {
    font-size: 2em;
    font-family: 'FuturaWeb-bold';
}
.capitalize{
	text-transform:capitalize;
}
.right {
    float: right;
}
.left {
    float: left;
}
.titulo-destaque{
    padding-left: 1em;
    position: relative;
    margin-left: 1em;
    margin-bottom: 2em;
}
.titulo-destaque.subtitulo{
    margin-left: 0;
    padding-left: 0;
}
.destaque-ellipse{
    font-family: 'FuturaWeb-bold';
    z-index: 10;
    position: relative;
    font-size: 2.4em;
}
.subtitulo .destaque-ellipse{
    font-size: 2em;
}

.btn-blue, a.btn-blue {
    color: #005CA9;
    border: 2px solid #005CA9;
    border-radius: 4px;
    background: transparent;
    padding: 5px 15px;
    cursor: pointer;
}
.btn-blue:hover, a.btn-blue:hover {
    color: #005CA9;
    border: 2px solid #005CA9;
    background: #cccccc33;
}
.btn-solid-blue, a.btn-solid-blue {
    color: #fff;
    border: 2px solid #0073D0;
    border-radius: 12px;
    background: #0073D0;
    padding: 15px 20px;
    cursor: pointer;
    font-family: FuturaWeb-bold;
    font-size: 20px;
}

    .btn-solid-blue:hover, a.btn-solid-blue:hover {
        color: #fff;
        border: 2px solid #0073D0;
        background: #0073D0;
    }

.btn-orange, a.btn-orange {
    color: #FF7200;
    border: 2px solid #FF7200;
    border-radius: 4px;
    background: transparent;
    padding: 5px 15px;
    cursor: pointer;
}

    .btn-orange:hover, a.btn-orange:hover {
        color: #FF7200;
        background: #cccccc33;
    }

.btn-solid-orange, a.btn-solid-orange {
    color: #fff;
    border-radius: 4px;
    background: #F36800;
    padding: 15px 20px;
    font-family: FuturaWeb-bold;
    font-size: 20px;
    cursor: pointer;
}

    .btn-solid-orange:hover, a.btn-solid-orange:hover {
        color: #fff;
        border: 2px solid #FF7200;
        background: #FF7200;
    }

.btn-white, a.btn-white {
    color: #005DA8;
    border: 1px solid #fff;
    border-radius: 4px;
    background: #fff;
    padding: 5px 15px;
    cursor: pointer;
}
    .btn-white:hover, a.btn-white:hover,
    .btn-white:focus, a.btn-white:focus {
        color: #005DA8;
        border: 1px solid #eeeeee;
        outline: none;
    } 
.btn-white-blue, a.btn-white-blue {
    color: #005DA8;
    border: 1px solid #005DA8;
    border-radius: 4px;
    background: #fff;
    padding: 5px 15px;
    cursor: pointer;
}
    .btn-white-blue:hover, a.btn-white-blue:hover,
    .btn-white-blue:focus, a.btn-white-blue:focus {
        color: #005DA8;
        border: 1px solid #005DA8;
        outline: none;
    } 


.btn-circle, a.btn-circle {
    border-radius: 50%;
    cursor: pointer;
    height: 25px;
    width: 25px;
    padding: 2px 6px;
    font-size: 1em;
}
.btn-transparent{
    border: none;
    background: none;
    outline: none;
}  
.btn-transparent:hover,.btn-transparent:focus{
    border: none;
    background: none;
    outline: none;
} 
.botoes-header{
  display: flex;
}
.solid-blue{
   color: #fff;
   border: 2px solid #0073D0;
   border-radius: 12px;
   background: #0073D0;
   padding: 10px;
   cursor: pointer;
   font-family: FuturaWeb-bold;
   font-size: 15px;
   display: inline-flex;
   margin: 0 .3em;
   min-width: 10em;
   text-align: center;
}
.solid-blue span{
  display: contents;
}
.solid-blue i{
  margin: 15px 10px;
}  
/* Header*/
.header{
    height: 64px;
    width: 100%;
    display: flex;
    background: linear-gradient(90deg, #005CA9 0%, #54BBAB 65.63%);
    padding: 10px;
}
.header .logo{
    float: left;
    padding-right: 1.5em;
}
.header .title-header{
    float: left;
    border-left: #99BCC2 solid 1px;
    padding: 3px 1.5em;
    margin: 7px 0;
}
.header, .header h1{
    font-family: 'FuturaStdBook';
    color: #ffffff;   
}
.header .title-header h1{
    font-size: 1.2em;
    font-family: 'FuturaStdMedium';
    color: #ffffff;
    margin-bottom: 0;
}
/* MENU */
.menu{
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.16);
    background: #F7FAFA;
    height: 48px;
}

.menu ul.menu-list{
    color:#2E484D;
    font-family: 'FuturaStdBook';
    list-style: none;
    padding: 0;
    padding-left: 0;
}
.menu ul.menu-list a{
    color:#2E484D;
    font-family: 'FuturaStdBook';
}
.menu ul.menu-list li.item-menu{
    display: inline-grid;
    margin: 0.5em 0;
    padding: 0.2em 1em;
    border-right:1px solid #99BCC2 ;
 }
 .menu ul.menu-list li.has-submenu{
    position: relative;
 }
 .menu ul.menu-list li.has-submenu i{
    margin-left: 10px;
 }

 .menu ul.menu-list li.item-menu .submenu{
    display:none;
    background: #fff;
    position: absolute;
    z-index: 999;
    width: 100%;
    background: #F7FAFA;
    top: 30px;
    padding: 5px 10px;
    border: 1px solid #ccc;
  }
   .menu ul.menu-list li.item-menu:hover .submenu,
   .menu ul.menu-list li.item-menu:hover  .submenu:hover{
    display:block;
  }
  .menu ul.menu-list li.item-menu .submenu .list-submenu{
     color:#2E484D;
     font-family: 'FuturaStdBook';
     list-style: none;
     padding: 0 10px;
     background: #F7FAFA;
  }
.menu ul.menu-list li.item-menu:last-child{
    border-right:none ;
 }
 .menu ul.menu-list li.item-menu:first-child{
    padding-left: 0;
 }
/* Highlight */
div.blue-highlight{
    background: #005DA8;
    padding: 2em;
    color: #fff;
}
div.gray-highlight{
    background: #D0E0E3;
    padding: 2em;
    color:#3A4859;
}
div.white-highlight{
    padding: 2em;
    color:#3A4859;
}
.container-info{
    margin: 2em 0;
}
.container-info.border-left-strong{
    padding-left: 3em;
    border-left: #2E484D solid 2px;
    padding-bottom: 2em;
}
/* CARROSSEL */
.carrossel{
    width: 100%;
    margin-bottom: 2em;
    position: relative;
}
.carrossel ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.carrossel ul li img{
    width: 100%;
}
.carrossel-list {
    width: 100%;
    list-style: none;
    margin-block-start: 0;
    padding-inline-start: 0;
}
.carrossel .descricao-carrossel{
  bottom: 2em;
  color:#FFFFFF;
  position:absolute;
  font-family: 'FuturaStdBook';
  font-size:24px;
  width: 40%;
  max-width: 500px;
  margin-left: 10em;
}
.carrossel .descricao-carrossel a,
.carrossel .descricao-carrossel a:hover,
.carrossel .descricao-carrossel a:active,
.carrossel .descricao-carrossel a:visited{
  color:#FFFFFF;
  font-family: 'FuturaStdBook';
  font-size:24px;
}
.container-carrossel {
    position: relative;
}

.carrossel-list .item-carrossel {
    width: 100%;
    position: relative;
    display: none;
    overflow: hidden;
}

    .carrossel-list .item-carrossel.active {
        display: block;
    }

.decoration-text-carrossel {
    background: transparent;
    left: -25px;
    content: "";
    top: 3px;
    position: absolute;
    border-bottom: 12px solid #FF7200;
    border-left: 12px solid #FF7200;
    border-top: 12px solid transparent;
    border-right: 12px solid transparent;
}

.decoration-icon-carrossel {
    background: transparent;
    left: -30px;
    content: "";
    top: -4px;
    position: absolute;
    font-size: 1.6em;
}

.carrossel-list .item-carrossel img {
    width: 100%;
    height: auto;
    min-width: 1100px;
}

.info-carrossel {
    width: 30%;
    left: 100px;
    top: 40px;
    position: absolute;
}

    .info-carrossel .text-carrossel {
        margin-bottom: 40px;
    }

    .carrossel ul.bullet-carrossel {
        list-style: none;
        width: 200px;
        text-align: center;
        bottom: 20px;
        right: 0;
        left: 0;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        z-index: 9999;
        padding-inline-start: 0;
    }

    .carrossel ul.bullet-carrossel .item-bullet {
        display: inline-block;
        margin: 0 4px;
    }

    .carrossel ul.bullet-carrossel .circle-bullet {
        border-radius: 50%;
        width: 15px;
        height: 15px;
        padding: 2px;
        background: transparent;
        box-shadow: #ccc 0 4px 10px;
        cursor: pointer;
        border: 1px solid #fff;
    }

    .carrossel ul.bullet-carrossel .item-bullet.active .circle-bullet {
        background: #FAAF00;
        border: 1px solid #FAAF00;
    }
    .carrossel ul.bullet-carrossel .item-bullet.active .circle-bullet:hover {
        border: none;
    }

.title-carrossel {
    color: #fff;
    font-family: 'FuturaWeb-bold';
}

.text-carrossel {
    width: 500px;
    color: #fff;
    font-family: 'FuturaWeb-book';
    font-size: 18px;
}
.banner-carrossel{
    width: 300px;
    height: 150px;
    background: #0073D0;
    margin: 2em auto;

}
/* Mini carrossel*/
.minicarrossel .carrossel-list .item-carrossel img {
    width: 100%;
    height: auto;
    max-width: 480px;
    min-width: inherit;
}
/* Banner Duplo*/
.banner-duplo{
    /* margin-top: 2em; */
    margin-bottom:2em;
    display: flex;
  } 
  .banner-duplo .col-left,
  .banner-duplo .col-right{
    float:left;
    width:50%;
    height:520px;
  }
  .banner-duplo .col-left div,
  .banner-duplo .col-right div{
    height:520px;
  }
  .banner-duplo .col-left img,
  .banner-duplo .col-right img{
    width:100%;
    height:100%;
  }
/* Card*/
.card{
    width: 100%;
    height: 350px;
    background: #ccc;
    color: #fff;
    border-radius: 0;
    margin-bottom: 20px;
}
.card .img-card{
    position: absolute;
    top: 0;
    width: 100%;
}
.card .img-card img{
    width: 100%;
    height: auto;
}

.card .footer-card{
    background: #005DA8;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    text-align: center;
    padding: 1em;
}
.card .footer-card .tipo-evento{
    font-size: 1.2em;
    font-family: 'FuturaWeb-bold';
    background: #0073D0;
    background-blend-mode: lighten;
    border-radius: 10px;
    text-align: center;
    height: auto;
    display: initial;
    padding: 0.2em 0.5em;
}
.card .footer-card .local-evento{
    font-size: 1em;
    font-family: 'FuturaWeb-bold';
    background: #0073D0;
    background-blend-mode: lighten;
    border-radius: 10px;
    text-align: center;
    height: auto;
    display: initial;
    padding: 0.2em 0.5em;
}
.card .footer-card .titulo-evento{
    font-size: 1.2em;
    font-family: 'FuturaWeb-bold';
    text-align: center;
    align-items: center;
    min-height: 60px;
    padding: 0.2em 0.5em;
    display: inline-grid;
    width: 100%;
}
.card .footer-card .mais-info{
    position: absolute;
    right: 1em;
    bottom: .5em;
}
.card.big{
    min-height: 670px;
}
/*Galeria slider*/
.galeria-slider{
    width: 100%;
    overflow: hidden;
}
.galeria-slider ul{
    list-style: none;
    padding: 10px;
    padding-left: 0;
}
.galeria-slider ul li{
    display: table-cell;
    padding: 1em;
}
.galeria-slider ul li:first-child{
    padding-left: 0;
}
.galeria-slider ul li:last-child{
    padding-right: 0;
}
.galeria-slider ul li div.card{
    width: 250px;   
}
.galeria-slider ul li div.card .footer-card{   
    height: 175px;
    text-align: center;
    padding: 1em;
}

.galeria-slider ul li div.item-galeria{   
    width: 350px;   
    position: relative;
}
.galeria-slider ul li div.item-galeria .img-galeria{
    width: 100%;
    height: 100%;
    max-height: 250px;
}
.galeria-slider ul li div.item-galeria .img-galeria img{
    width: 100%;
}
.galeria-slider ul li div.item-galeria .legenda{
    color: #fff;
    font-family: 'FuturaWeb-bold';
    background: #00000080;
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    padding: 1em;
    font-size: 1.5em;
    text-align: center;
 }
 


.botoes-slider{
    width: 160px;
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 1em;
    height: 50px;
}
.botoes-slider button{
    font-size: 2em;
    height: 40px;
    width: 40px;
    min-width: 40px;
}
/* Footer */

footer{
    display: flex;
    width: 100%;
    background: #005ca9;
    display: block;
    width: auto;
    color: #fff;
    font-family: "FuturaStdMedium";
}
footer .footer-list{
    list-style: none;   
    margin-bottom: 0; 
    padding-left: 0;
}
footer .footer-list a,
footer .footer-list a:hover,
footer .footer-list a:visited,
footer .footer-list a:active{
  color: #fff;
}
footer .footer-list .item-list{
    display: inline;    
}
footer .footer-list .logo-footer{
    display: inherit;
}
footer .footer-gradient .footer-list .item-list{
    padding: 2px 4px;
}
footer .footer-gradient .footer-list .item-list:after {
    text-align : center;
    color: #fff;
    padding-left: 10px;
    content: "-";
    font-weight: bold;
}
footer .footer-gradient .footer-list .item-list:first-child:after,
footer .footer-gradient .footer-list .item-list:last-child:after {
    text-align : center;
    color: #fff;
    content: "";
}
footer .footer-gradient{
    font-size: 14px;
    left: 0px;
    width: 100%;
    display: flex;
    padding: 10px;
    background: linear-gradient(90deg, #005CA9 0%, #54BBAB 65.63%);  
}
footer .footer-blue{
    font-size: 12px;
    left: 0px;
    width: 100%;
    display: flex;
    background: #005ca9;
    padding: 20px;
}
footer .footer-blue .footer-list .item-list{
    padding: 0 10px;
    border-left: 1px solid #fff;
}
footer .footer-blue .footer-list .item-list:first-child{
    border-left: none;
}
#s4-bodyContainer {
    padding-bottom: 0;
}
.cell-margin {
    margin: 0px;
}
.welcome {
    padding: 0;
}
.ellipse{
    position: absolute;
    width: 60.74px;
    height: 35.67px;
    background: #FFC02E;
    transform: rotate(-23.23deg);
    border-radius: 50%;
    z-index: 0;
    left: -12px;
    top: 6px;
}
/** GALERIA**/

.modal {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 20px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #000000aa;
    overflow: auto;
  }
  .modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 1200px;
    padding-top: 20px;
  }
  .mySlides{
    margin: auto;
    padding: 0;
    width: 80%;
    max-width: 800px;  
  }
  .close {
    color: #ccc;
    position: absolute;
    top: 10px;
    right: 25px;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #999;
    text-decoration: none;
    cursor: pointer;
  }
  .mySlides {
    display: none;
  }
  
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 100px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  a:not([href]):not([tabindex]).prev,
  a:not([href]):not([tabindex]).next{
    color: #ccc;   
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  a:not([href]):not([tabindex]).prev:hover,
  a:not([href]):not([tabindex]).next:hover{
    color: #999;   
  }
  .numbertext {
    padding: 8px 12px;
    text-align: center;
    color: #3A4859;
    font-size: 1.4em;
    font-family: 'Roboto-bold';
  }
  
  .caption-container {
    text-align: center;
    padding: 2px 16px;
    color:#3A4859;
    font-size: 1em;
    font-family: 'Roboto-bold';
  }
  .caption-container p{
   margin-bottom: 0;
  }
  
  img.demo {
    opacity: 0.6;
    width: 60px;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  img.hover-shadow {
    transition: 0.3s;
  }
  
  .hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

/*acima 1600px*/
@media screen and (min-width: 1600px) {
    
}
/*acima 1200px*/
@media screen and (min-width: 1200px) {
    
}
/*Ate 1200px*/
@media screen and (max-width: 1200px) {
    
}
/*Ate 1100px*/
@media screen and (max-width: 1100px) {
    
}

/*Ate 1000px*/
@media screen and (max-width: 1000px) {
    
}
/*Ate 992px*/
@media screen and (max-width: 992px) {
    
}
/*Ate 800px*/
@media screen and (max-width: 800px) {
    
}
/*Ate 768px*/
@media screen and (max-width: 768px) {    
    
}
/*Ate 600px*/
@media screen and (max-width: 600px) {
   
}
/*Ate 500px*/
@media screen and (max-width: 500px) {

}
/*Ate 400px*/
@media screen and (max-width: 400px) {
    
}
/*Ate 320px*/
@media screen and (max-width: 320px) {
    
}
